<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        {{igu_title}}
    </title>
</head>

<body>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" 
        style="padding:10px 15px;font-size:14px;"> 
            <tr>
                <td width="60%" align="left" style="padding:5px 0 0;">
                    <img align="left" src="{{logo}}" alt="Indoguna Utama" width="130">
                </td>
                <td width="40%" align="right" style="padding:5px 0 0;">
                    <span style="font-size: 18px; font-weight: 300; ">
                        {{igu_title}} </span>
                </td>
            </tr> 
    </table>
    <table width="100%">
        <tbody>
            <tr>
                <td>
                    <h1 style="margin: 0; font-size: 12px;  line-height: 12px; color: rgba(0, 0, 0, 0.70);">
                        {{igu_remarks}}

                    </h1>
                    <p>printed at {{igu_tanggal}}</p>
                </td>
            </tr>
        </tbody>
    </table>

    {{detail}}








    <table>
        <tbody>

            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%"
                        style="border-collapse:collapse; background-color: #F7F7F7; font-size:13px; color: #999999; border-top: 1px solid #DDDDDD;">
                        <tbody>

                            <tr>
                                <td width="100%" >


                                    <div style="text-align: center;">
                                        <div
                                            style="text-align: center; font-size: 12px; margin: 30px 0 10px; color: #999999;">
                                            This
                                            report was generated automatically</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td width="100%" align="center" style="padding: 10px 20px 30px;text-align: center;">
                                    <b>IT Dev Indoguna Group</b> <br>
                                    [CNW Project] </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

        </tbody>
    </table>
    <p>&nbsp;<br></p>




</body>

</html>