<!DOCTYPE html>
<html>
<title>Invoice</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.google.com/specimen/Inconsolata'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
 @page {
            size: A4;
</style>
<body>
    {% for invoice in  header %}
    <div class="w3-container">
	<div class="w3-row">
            <div class="w3-col s4  w3-left-align">
                <img src="{{logo}}" height="60" width="250">
            
            </div>
            <div class="w3-col s4 w3-tiny w3-center" >
                    {{igu_tanggal}}
                
            </div>
            <div class="w3-col s4 w3-right-align">
                    <p > <h3>INVOICE</h3></p>
                    
            
            </div>   
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col">
            <table  class="w3-table" style="font-size:8pt" >
                 
                    <tr>
                            <td   width="50%"  >
                                <b>Customer Name & Address</b>
                                <p><b>{{ invoice[6] }} - {{ invoice[5] }}</b></p>
                                <p>{{ invoice[8] }}
                            </td>
                            <td  rowspan="2"  style="vertical-align: top;"  class="w3-center">
                                <img src="https://api.qrserver.com/v1/create-qr-code/?size=45x45&data={{ invoice[3] }}">
                            </td>

                            <td  rowspan="2" style="vertical-align: top;height:8pt" ><b>Invoice No. </b>{{ invoice[0] }} <br/>
                                <b>Invoice Date.</b> {{ invoice[1] }} <br/>
                                <b>SO No.</b> {{ invoice[3] }} <br/> 
                                <b>Tax. </b>  {{ invoice[18]}}<br/> 
                                
                                <b>Term Of Payment.</b> {{ invoice[4] }} <br/>
                                <b>Ref.</b> {{ invoice[2] }} <br/>
                                <b>Doc Status.</b> 
                                <I>
                                    {% if invoice[17] <2 %}
                                        ORIGINAL
                                    {% endif %}
                                    {% if invoice[17] >1 %}
                                        COPY ({{ invoice[17]-1 }})
                                    {% endif %}
                                </I> <br/>
                            </td>
                    </tr>
                    
                    <tr>
                        <td   ><b>Ship To.</b> {{ invoice[7] }}</p>
                        </td> 
                    </tr>
  

                  </table>
            </div>
      </div>
      <div class="w3-container">
            <table class="w3-table"   style="border: 1px solid black;font-size: 9px;border-collapse: collapse;border-spacing: 0;padding: 0;">
                <thead>
                    <tr>
                      <th class="w3-center" width="60%"  style="border: 1px solid black;">Description</th>
                      <th  class="w3-center"  width="10%" style="border: 1px solid black;">Qty</th>
                      <th  class="w3-center"  width="5%" style="border: 1px solid black;">Uom</th>
                      <th class="w3-center"  width="10%" style="border: 1px solid black;">Unit Price <br/>(Rp)</th>
                          <th class="w3-center"  width="15%" style="border: 1px solid black;" class="w3-right-align">Total<br/>(Rp)</th>
                    </tr>
                </thead> 
                
    {% for invoiceline in  detail  %}
    {% if invoiceline[7] == invoice[13] %}
                
                    <tr class="w3-tiny" style="line-height:2mm;">
                      <td style="border: 1px solid black;font-size: 9px;">{{ invoiceline[2]}} </td>
                      <td  class="w3-right-align" style="border: 1px solid black;font-size: 9px;">{{ "{:,.4f}".format(invoiceline[3]) }} </td>
                      <td  style="border: 1px solid black;font-size: 9px;"> {{invoiceline[6]}} </td>
                      <td  class="w3-right-align" style="border: 1px solid black;font-size: 9px;">{{ "{:,.0f}".format(invoiceline[4]) }} </td>
                      <td class="w3-right-align" style="border: 1px solid black;font-size: 9px;">{{ "{:,.0f}".format(invoiceline[5]) }} </td>
                    </tr>
    {% endif %}
     {% endfor %}
     
                        <tr  class="w3-align-right">
                            <td colspan="4" class="w3-right-align"  style="border: 1px solid black;" ><b>Amount</b></td>
                            <td  class="w3-right-align"  style="border: 1px solid black;height:9pt">{{  "{:,.0f}".format(invoice[9]) }} </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="w3-right-align"  style="border: 1px solid black;" ><b>Discount</b></td>
                            <td   class="w3-right-align" style="border: 1px solid black;height:9pt">{{  "{:,.0f}".format(invoice[11]) }} </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="w3-right-align"  style="border: 1px solid black;" ><b>Tax</b></td>
                            <td   class="w3-right-align" style="border: 1px solid black;height:9pt">{{  "{:,.0f}".format(invoice[10]) }} </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="w3-right-align"  style="border: 1px solid black;"><b>Total</b></td>
                            <td   class="w3-right-align" style="border: 1px solid black;height:9pt"><b>{{  "{:,.0f}".format(invoice[12]) }} </b></td>
                        </tr>
                  </table>
      </div>
 <br/>
 <br/>
      <div class="w3-container">
    <div class="w3-row w3-center w3-tiny">
            <div class="w3-col s6 w3-left-align">
            <b>PT. Indoguna Utama Bank Details: <br/>
            </b>
                <i class="fa fa-address-card"> Bank Central Asia (BCA) : No 2303000704</i> <br/>
                <i style="font-size:6pt"> Setiap keterlambatan pembayaran akan dikenakan interest rate 1% / bulan   </i>
            
            </div>
            <div class="w3-col s3 w3-center">  
                <img src="https://api.qrserver.com/v1/create-qr-code/?size=58x58&data={{ invoice[15] }}" > &nbsp;&nbsp;&nbsp;<p  style="font-size:6pt" >AR [{{ invoice[15] }}] &nbsp;&nbsp;&nbsp;</p></div>
                <div class="w3-col s3 w3-right-align">  
                <img src="https://api.qrserver.com/v1/create-qr-code/?size=58x58&data={{ invoice[14] }}" > &nbsp;&nbsp;&nbsp;<p  style="font-size:6pt"  >[{{ invoice[16] }}] &nbsp;&nbsp;&nbsp;</p></div>
    </div>
    <div class="w3-row">
        <div class="w3-col">
            <p  style="border: 1px solid black;font-size:6pt;text-align: center;">This is automatically generated by system. No signature is required. <br/>
                <i>Dokumen ini diproses secara otomatis melalui sistem, sehingga tandatangan tidak diperlukan</i></p>
        </div>
    </div>
</div>   
 

  <p style="page-break-before: always" ></p>
  {% endfor %}
</body>
</html>
